.project-slider
  .uk-position-small
    li
      padding-left: 20px
    img
      border: 3px solid wt
      height: 64px
      object-fit cover
    li.uk-active
      img
        border 3px solid yl2

.project-info
  background: wt
  position: relative
  .project-info-bg
    background: url(../img/png/bg-item.png)
    background-size: 110px
    opacity 0.1
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 5
  .uk-container
    position: relative
    z-index: 15
    .proj-info-title
      background: bl
      text-align center
      padding: 40px
      margin-bottom: 40px
      span
        font-weight: 700
        font-size: f18
        text-transform: uppercase
      h2
        font-weight: 700
        font-size: f48
        margin: 0
        padding: 0
        color: wt
    .proj-info-text
      margin-bottom: 40px
      position: relative
      p
        color: bc2
        font-size: f18
        padding: 0 100px
      &:before
        content ''
        display: block
        width: 70px
        height: 5px
        background: yl
        position: absolute
        top: 5px
        left: 0

.proj-info-infra
  .proj-info-infra-text
    h2
      font-size: f48
      font-weight: 700
      color: bc2
      margin: 0
      margin-bottom: 40px
      text-align: center
    p
      color: bc2
      font-size: f18
      margin: 0
      margin-bottom: 30px
  .proj-info-infra-items
    display: flex
    justify-content: center
    margin-bottom: 10px
    .proj-info-infra-item
      margin-bottom: 30px
      img
        margin-bottom: 10px
        transition 1s
        &:hover
          transform scale(1.15)
      h4
        font-size: f18
        font-weight: 700
        color: bc2
        margin: 0

.project-layout
  background: bl2
  position: relative
  img
    width: 100% !important
    height: 100% !important
    object-fit cover
  .proj-layout-item
    margin-bottom: 40px
    .uk-slideshow-items
      height: 100%
  .project-layout-bg
    background: url(../img/png/bg-item.png);
    background-size: 120px;
    opacity: .25;
    position: absolute;
    z-index: 5;
    width: 100%
    height: calc(100% - 20px)
  .uk-container
    padding: 80px 40px 40px
    z-index: 15
    position: relative
    h2
      font-size: f48
      font-weight: 700
      padding-left: 100px
      position: relative
      margin: 0
      margin-bottom: 40px
      color: wt
      &:before
        content ''
        display: block
        width: 70px
        height: 5px
        background: yl
        position: absolute
        top: 50%
        left: 0
        transform translateY(-50%)
  .proj-layout-slider-text
    max-height: 370px
    min-height: 370px
    padding: 30px
    background: yl
    color: dbl
    span
      font-size: f24
      display: block
    b
      font-weight: 700
      font-size: f24
      margin-bottom: 18px
      display: block
    p
      margin: 0
      font-size: f14
  .proj-layout-slider
    max-height: 370px
    min-height: 370px
    overflow hidden
    .uk-slideshow-items
      li > a
        width: 100%
        height: 100%
        display: block
  .proj-layout-items
    .uk-dotnav>*
      padding-left: 9px
      a
        background: bl2
    .uk-active
      a
        background: yl2
  .proj-layout-link
    margin-left: 26px
    color: wt
    font-size: f24
    font-weight: 700
    display: block
    position: relative
    height: 52px
    line-height: 52px
    text-align: center
    &:hover
      background: rgba(255,255,255,0.25)
      text-decoration: none
      &:before
        content: ''
        display: inline-block
        position: absolute
        top: 0
        left: -8px
        width: 0
        height: 0
        border-style: solid
        border-width: 26px 8px 26px 0
        border-color: transparent rgba(255,255,255,0.25) transparent transparent
      &:after
        content: ''
        display: inline-block
        position: absolute
        top: 0
        right: -8px
        width: 0
        height: 0
        border-style: solid
        border-width: 26px 0 26px 8px
        border-color: transparent transparent transparent rgba(255,255,255,0.25)
  .proj-layout-link-active
    background: rgba(255,255,255,0.5)
    &:before
        content: ''
        display: inline-block
        position: absolute
        top: 0
        left: -8px
        width: 0
        height: 0
        border-style: solid
        border-width: 26px 8px 26px 0
        border-color: transparent rgba(255,255,255,0.5) transparent transparent
      &:after
        content: ''
        display: inline-block
        position: absolute
        top: 0
        right: -8px
        width: 0
        height: 0
        border-style: solid
        border-width: 26px 0 26px 8px
        border-color: transparent transparent transparent rgba(255,255,255,0.5)

.project-floor
  background: url(../img/png/floor-bg.png) no-repeat center center
  background-size: cover
  .uk-container
    padding: 40px
  .floor-link
    display: block
    cursor: pointer
  h2
    text-align: center
    font-weight: 700
    font-size: f48
    color: dbl
    margin: 0
    margin-bottom: 40px

.project-photos
  background: url(../img/jpg/proj-photo-bg.jpg) repeat-x
  background-size: contain
  .uk-container
    padding: 40px
  h2
    text-align: center
    font-weight: 700
    font-size: f48
    color: dbl
    margin: 0
    margin-bottom: 40px
  .proj-photo-window-item
    margin-bottom: 30px
    max-height: 240px
    img
      width: 100%
      height: 100%
      object-fit cover
  .proj-photo-item
    margin-bottom: 30px
    div
      cursor pointer
    &:hover
      p
        display: inline-block
    img
      width: 100%
      height: 100%
      object-fit cover
    p
      display: none
      height: 40px
      line-height: 40px
      background: bl2
      color: wt
      font-weight: 700
      font-size: f18
      position: absolute
      top: 50%
      left: 50%
      transform translate(-50%, -50%)
      z-index: 15
      &:before
        content: ''
        display: inline-block
        width: 0
        height: 0
        border-style: solid
        border-width: 20px 17px 20px 0
        border-color: transparent #0049a8 transparent transparent
        position: absolute
        top: 0
        left: -16px
      &:after
        content: ''
        display: inline-block
        width: 0
        height: 0
        border-style: solid
        border-width: 20px 0 20px 17px
        border-color: transparent transparent transparent #0049a8
        position: absolute
        top: 0
        right: -16px

.project-works
  background: bl
  position: relative
  .project-works-bg
    background: url(../img/png/bg-item.png)
    background-size: 65px
    opacity 0.25
    position: absolute
    z-index: 5
    top 20px
    left 0
    width: 100%
    height: calc(100% - 40px)
  .uk-container
    z-index: 15
    padding: 40px
    position: relative
    h2
      font-size: f48
      font-weight: 700
      text-align: center
      margin: 0 0 40px
      a
        color: wt
      &:hover
        text-decoration: underline
.project-works
  .works-items > a
    width: 80px
    height: 80px
    transition 1s
    background-size: cover
    svg
      display: none
.project-works .works-items .uk-position-center-left
  background: url(../img/png/arrow-left.png) no-repeat center center
  &:hover
    background: url(../img/png/arrow-hover-left.png) no-repeat center center
.project-works .works-items .uk-position-center-right
  background: url(../img/png/arrow-right.png) no-repeat center center
  &:hover
    background: url(../img/png/arrow-hover-right.png) no-repeat center center
.project-works .uk-position-center-left
  left: 4%;
.project-works .uk-position-center-right
  right 4%

.lg-outer .lg-outer #lg-share,
.lg-outer #lg-download
  display: none !important