.news-element-block
  background: url(../img/png/logobg.png)
  .uk-container
    padding: 40px
    h4
      font-size: f18
      font-weight: 700
      color: bc
      margin: 0
      margin-bottom: 40px
    .news-element-img
      img
        width: 100%
        height: 100%
        object-fit cover
    .news-element-text
      font-size: 14px
      display: flex
      flex-direction column
      color: bc
      .news-element-text-par
        flex-grow 5
        p
          margin: 0
          margin-bottom: 20px
      .news-element-text-date
        font-weight: 700
        span
          display block
          text-align right