.footer
  padding: 24px 0
  background: bc
  .uk-container
    display: flex
    align-items center
    .social-icons
      width: 20%
      display: flex
    span
      display: block
      text-align: center
      width: 80%
      padding-right: 30%
      box-sizing border-box
      color: gr
      opacity: 0.5

.whatsapp
  width: 48px
  height: 48px
  position: fixed
  bottom: 70px
  left: 20px
  z-index: 20
  transition 1s
  &:hover
    transform scale(1.05)


.contacts
  background: dbl
  padding: 30px 0
  position: relative
  .contacts-bg
    background: url(../img/png/bg-item.png)
    background-size: 48px
    opacity 0.1
    position: absolute
    z-index: 5
    top 0
    left 0
    width: 100%
    height: 100%
  .uk-container
    position: relative
    z-index: 15
    h2
      font-weight 700
      font-size: f48
      margin-left: 100px
      position: relative
      color: wt
      &:before
        display: inline-block
        content: ''
        width: 70px
        height: 5px
        background: linear-gradient(to bottom, #ffd400 0%,#ffa800 100%)
        position: absolute
        left: -100px
        top: 50%
        transform translateY(-50%)
    .contacts-block
      margin-bottom: 30px
      .contacts-item
        .map-cont
          min-height: 300px
        .contacts-item-text
          flex-grow: 5
          padding-left: 30px
          margin-bottom: 20px
          background: url(../img/svg/header-icon-1.svg) no-repeat left 15px
          h4
            font-weight: 700
            font-size: f36
            margin: 0
            color: wt
          i
            flex-grow: 5
            font-weight: 700
            font-style: normal
        .contacts-item-text > span
            display: block
            height: 20px
    .contacts-time
      span
        padding-left: 36px
        background: url(../img/svg/header-icon-2.svg) no-repeat left center
        line-height: 24px
      .free-consult
        text-align: right