
.header
  .header-top
    background: dbl
    position: relative
    .header-top-bg
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url(../img/png/bg-item.png)
      background-size: 50px
      opacity 0.05
      z-index 5
    .uk-container:before
      display: none
    .uk-container:after
      display: none
    .uk-container
      display: flex
      justify-content: space-between
      position: relative
      z-index: 20
      align-items: center
      p
        background-position: left center
        background-repeat: no-repeat
        padding-left: 30px
        margin: 0 0 10px
        b
          font-weight: 700
      .logo
        img
          width: 400px
          height: 100px
          object-fit contain
      .logo:hover
        opacity 0.95
      .header-address
        background-image: url(../img/svg/header-icon-1.svg)
      .header-time
        background-image: url(../img/svg/header-icon-2.svg)
        padding-left: 40px
        text-transform: uppercase

  .header-bottom
    background: url(../img/jpg/header-bottom-bg.jpg) 0 0
    background-size: 55px
    .uk-container
      .uk-navbar-container:not(.uk-navbar-transparent)
        background: transparent
      .uk-navbar-nav
        height: auto
        li
          height: 100%
          a
            height: 100%
            min-height: auto
            font-size f14 //Временно
            text-transform: uppercase
            font-weight: 700
            color: wt
            transition 0.5s
          a:hover
            background: rgba(4,28,61,0.5)
.social-icons
  .social-icon
    width: 32px
    height: 32px
    border-radius 6px
    margin-left: 18px
    transition 1s
    background: wt
    display: flex
    align-items center
    justify-content: center
    &:hover
      transform scale(1.1)

.header-phone
  display: flex
  align-items center
  .header-phone-codes
    span
      display: block
      margin: 0
      padding: 0
      line-height: 1
      font-weight: 700
      white-space nowrap
  p
    font-weight: 700
    font-size: f48
    padding: 0!important
    margin: 0 0 0 12px!important
    white-space nowrap

.free-consult
  z-index: 100
  margin: 10px 0
  img
    transition 1s
    max-width: 227px
  img:hover
    transform scale(1.1)

.header-top-item-address
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 30px;
  .header-address
    margin-right: 45px !important
    
.uk-navbar-toggle
  color: #fff
  &:hover
    color: #fff
    opacity: 0.75
.uk-button-default
  border: none

.lang
  margin-left: 40px
  background: dbl
  border-radius 2px
  line-height: 30px
  padding: 2px 4px
  display: flex
  .lang-item
    text-transform uppercase
    font-size: f14
    font-weight: 700
    width: 26px
    height: 26px
    line-height 26px
    display: inline-block
    text-align: center
    &:hover
      background: bl2
      border-radius 2px
      color: wt
.lang-active
  background: bl2
  border-radius 2px
  color: wt



