.modal-block .uk-modal-body
  max-width: 330px!important
  height: 340px
  box-sizing border-box
  padding: 0
.modal-inner
  background: dbl
  display: flex
  flex-direction: column
  color: wt
  padding: 15px 30px
  position: relative
  height: 100%
  &:before
    content: ''
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 170px 45px 170px 0
    border-color: transparent #041c3d transparent transparent
    position: absolute
    top: 0
    left: -45px
  &:after
    content: ''
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 170px 0 170px 45px
    border-color: transparent transparent transparent #041c3d
    position: absolute
    top: 0
    right: -45px
  h3
    font-size: f18
    font-weight: 700
    margin: 0
    text-align: center
    color: wt
  span
    font-size: f14
    text-align: center
    display: block
    margin-bottom: 20px
  input
    width: 100%
    margin-bottom: 10px
    border-radius 8px
    height: 30px
    line-height: 30px
    padding: 0 20px
    color: gr2
    border: none
    outline: none
  textarea
    width: 100%
    height: 80px
    padding: 5px 20px
    color: gr2
    border: none
    outline: none
    border-radius 8px
    margin-bottom: 15px
    resize: none
  button
    text-align: center
    background: transparent
    border none
    width: 100%
    outline none

.modal-close
  position: absolute
  top: -7px;
  right: -41px;
  background: transparent
  border none
  cursor: pointer
  width: 30px!important
  height: 30px
  z-index: 15
  img
    width: 14px
    height: 14px