.news-block
  display: flex
  flex-wrap wrap
  .news-block-item
    background-position: center center !important
    min-height: 270px
    background: gr
    box-sizing border-box
    width: 25%
    padding: 30px 45px
    &:hover
      background: bl2
      .news-block-item-text
        p
          text-decoration: underline
          color: wt
    img
      margin-bottom: 27px
      width: 210px
      height: 131px
      object-fit contain
    .news-block-item-text
      p
        font-weight: 700
        margin: 0
        color: bc
  .news-block-item-3
    width: 50%
    background-size: cover
    position: relative
    padding: 0
    img
      display: none !important
    p
      color wt !important
    &:hover
      background-size: cover
    .news-block-item-text
      position: absolute
      background: rgba(0, 0, 0, 0.5)
      bottom: 0
      left: 50%
      transform translateX(-50%)
      padding: 30px
      width: 70%
      color: wt