.promo-block
  background: url(../img/png/promo-bg-el.png)
  min-height: 280px
  position: relative
  height: 100%
  color: #fff
  &:hover
    //text-decoration: none !important
    color: #fff
  .promo-block-bg
    position: absolute
    width: 100%
    height: 100%
    z-index 15
  .promo-pic
    height: 100%
    img
      width: 100%
      height: 100%
      object-fit cover
  .promo-block-text
    padding: 30px
    display: flex
    flex-direction column
    align-items flex-start
    h4
      font-weight: 700
      font-size: f24
      color: wt
      text-transform uppercase
      margin: 0
      padding: 0
      margin-bottom: 20px
      text-align: left
    p
      margin: 0
      padding: 0
      flex-grow: 5
      margin-bottom: 8px
      text-align: left
    span
      font-weight: 700
      text-align: left