.works-item
  display: block
  height: 100%
  background: yl
  transition 0.5s
  &:hover
    background: wt
    text-decoration: none
  .works-item-text
    padding: 20px
    display: flex
    flex-direction column
    margin-bottom: 0
    span
      color: bc
      display: block
      margin-bottom: 2px
    h4
      color: bc
      font-size: f24
      margin: 0 0 2px
      font-weight: 700
    p
      color: bc
      margin: 0 0 auto
      b
        font-weight: 700
    i
      font-style: normal
      color: bl