| {% load staticfiles i18n doublegis %}
| {% get_current_language as LANGUAGE %}
.contacts(id="contacts")
    .contacts-bg
    .contacts-bg-top
    .uk-container
        h2 Контакты
        .contacts-block(class="uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m")
            for i in contacts
                .contacts-item.uk-flex.uk-flex-column.contacts-item-1
                    .contacts-item-text.uk-flex.uk-flex-column
                        h4 {{ i.city }}
                        i {{ i.address }}
                        if i.reference_point
                            span {% trans 'Ориентир' %} - {{ i.reference_point }}
                        .header-phone
                            .header-phone-codes
                                for j in i.splited_codes
                                    span {{ j }}
                            p.header-phone-body {{ i.phone }}
                    .map-cont(data-lat="{{ i.get_location.0.lat }}" data-lng="{{ i.get_location.0.lng }}")
        .contacts-time.uk-flex.uk-flex-between.uk-flex-middle
            span <b>{% trans "Время работы" %}:</b> {{ working_hours.working_hours }}
            a.free-consult(href="#" class='uk-width-1-1 uk-width-1-2@s' uk-toggle="target: #modal-block")
                img(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/png/button_kg.png' %}{% else %}{% static 'dist/img/png/button.png' %}{% endif %}")
footer.footer
    .uk-container
        .social-icons
            for i in social_links
                a.social-icon(style="overflow: hidden;" href="{{ i.link }}" target="_blank")
                    img(src="{{ i.icon.url }}")
        span ОсОО Эмаком &copy 2018

a(href="https://api.whatsapp.com/send?phone={{ static_info.whatsapp }}").whatsapp(class="uk-hidden@s" target="_blank")
    img(src="{% static 'dist/img/svg/whatsapp.svg' %}")
