| {% load staticfiles i18n emakom %}
| {% get_available_languages as LANGUAGES %}
| {% get_current_language as LANGUAGE %}
header.header(uk-sticky="bottom: #offset")
    .header-top
        .header-top-bg
        .uk-container
            .header-top-item(class="uk-visible@s")
                a(href="{% url 'main' %}#header").logo
                    img(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/png/logo-kg.png' %}{% else %}{% static 'dist/img/png/logo.png' %}{% endif %}")
            .header-top-item(class="uk-hidden@s")
                a(href="{% url 'main' %}#header").logo-mini
                    img(src="{% static 'dist/img/png/bg-item.png' %}")
            .header-top-item.header-top-item-address(class="uk-visible@s")
                p.header-address
                    b {{ header_contacts.city }}
                    br
                    | {{ header_contacts.address }}
                    if header_contacts.reference_point
                        br
                        | {% trans 'Ориентир' %} - {{ header_contacts.reference_point }}
                p.header-time
                    for j in working_hours.splited_working_hours
                        b {{ j }}
                        br
                    if working_hours.splited_working_hours|length < 2
                        br
            .header-top-item.header-phone(class="uk-visible@s")
                .header-phone-codes
                    if header_contacts.splited_codes
                        for i in header_contacts.splited_codes
                            span {{ i }}
                p.header-phone-body 44 11 44
            a.free-consult(href="#" class="uk-hidden@s" uk-toggle="target: #modal-block")
                img(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/png/button_kg.png' %}{% else %}{% static 'dist/img/png/button.png' %}{% endif %}")

    .header-bottom
        .uk-container
            .uk-navbar-container.main-nav
                .uk-navbar.uk-flex.uk-flex-between
                    ul.uk-navbar-nav(class='uk-visible@m uk-width-auto@m')
                        if path_name in 'main'
                            li
                                a(href="{% url 'main' %}#about-us" uk-scroll="offset: 160") {% trans "О нас" %}
                            li
                                a(href="{% url 'main' %}#works" uk-scroll="offset: 160") {% trans "Объекты" %}
                            li
                                a(href="{% url 'main' %}#promo" uk-scroll="offset: 160") {% trans "Акции" %}
                            li
                                a(href="{% url 'main' %}#news" uk-scroll="offset: 160") {% trans "Новости" %}
                            li
                                a(href="#contacts" uk-scroll="offset: 148") {% trans "Контакты" %}
                        else
                            li
                                a(href="{% url 'main' %}#about-us") {% trans "О нас" %}
                            li
                                a(href="{% url 'projects' %}") {% trans "Объекты" %}
                            li
                                a(href="{% url 'main' %}#promo") {% trans "Акции" %}
                            li
                                a(href="{% url 'news' %}") {% trans "Новости" %}
                            li
                                a(href="#contacts" uk-scroll="offset: 148") {% trans "Контакты" %}
                    button.uk-navbar-item.uk-button.uk-button-default.uk-navbar-toggle.uk-navbar-toggle-icon.uk-icon(class='uk-hidden@m', uk-navbar-toggle-icon='', type='button')
                    .dropdown-navbar(uk-dropdown='mode: click')
                        ul.uk-nav.uk-dropdown-nav
                            if path_name in 'main'
                                li
                                    a(href="{% url 'main' %}#about-us" uk-scroll="offset: 168") {% trans "О нас" %}
                                li
                                    a(href="{% url 'main' %}#works" uk-scroll="offset: 168") {% trans "Объекты" %}
                                li
                                    a(href="{% url 'main' %}#promo" uk-scroll="offset: 168") {% trans "Акции" %}
                                li
                                    a(href="{%url 'main' %}#news" uk-scroll="offset: 168") {% trans "Новости" %}
                                li
                                    a(href="#contacts" uk-scroll="offset: 148") {% trans "Контакты" %}
                            else
                                li
                                    a(href="{% url 'main' %}#about-us") {% trans "О нас" %}
                                li
                                    a(href="{% url 'projects' %}") {% trans "Объекты" %}
                                li
                                    a(href="{% url 'main' %}#promo") {% trans "Акции" %}
                                li
                                    a(href="{% url 'news' %}") {% trans "Новости" %}
                                li
                                    a(href="#contacts") {% trans "Контакты" %}
                    .uk-flex.uk-flex-right.uk-flex-middle(class='uk-flex-between@m')
                        a.free-consult(href="#" class="uk-visible@s" uk-toggle="target: #modal-block")
                            img(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/svg/ctakg.svg' %}{% else %}{% static 'dist/img/svg/ctaru.svg' %}{% endif %}")
                        .social-icons(class="").uk-flex.uk-flex-middle
                            for i in social_links
                                a.social-icon(style="overflow: hidden;" href="{{ i.link }}" target="_blank")
                                    img(src="{{ i.icon.url }}")
                            .lang
                                for key,value in LANGUAGES
                                    a(href="{% get_lang_url request key %}" class="lang-item {% if key == LANGUAGE %}lang-active{% endif %}") {{ key }}
