|{% load staticfiles i18n %}
for i in layouts
    .proj-layout-item.uk-flex.uk-flex-wrap
        div(class="uk-width-1-1 uk-width-2-3@s")
            div(uk-slideshow='animation: pull; autoplay: true; autoplay-interval: 5000; pause-on-hover: false' class="uk-position-relative").proj-layout-slider.uk-width-expand
                ul.uk-slideshow-items(uk-lightbox="animation: slide")
                    for j in i.slider.all
                        li
                            a(href="{{ j.image.url }}")
                                img(src="{{ j.image.url }}" uk-cover)
                ul.uk-slideshow-nav.uk-dotnav.uk-flex-center.uk-margin.uk-position-bottom
        .proj-layout-slider-text(class="uk-width-1-1 uk-width-expand@s")
            div(style="height: 100%")
                div(data-simplebar style="overflow: auto")
                    span {{ i.rooms }} {% trans 'комнатная' %}
                    b {{ i.area }} м2
                    | {{ i.description|safe }}
