| {% load staticfiles i18n widget_tweaks %}
| {% get_current_language as LANGUAGE %}
.modal-block(id="modal-block" uk-modal)
    .uk-modal-dialog.uk-modal-body
        .modal-inner
            button(type="button").modal-close.uk-modal-close
                img(src="{% static 'dist/img/svg/modal-icon.svg' %}")
            h3 {% trans "Заполните форму" %}
            span {% trans "и мы обязательно свяжемся с Вами в течении рабочего дня" %}
            form(method="POST" action="{% url 'feedback' %}" id="feedback_form")
                | {% csrf_token %}
                | {% trans 'ФИО' as ph_full_name %}
                | {% trans 'Телефон или email' as ph_email %}
                | {% trans 'Задайте ваш вопрос' as ph_question %}
                | {% render_field feedback.full_name placeholder=ph_full_name %}
                | {% render_field feedback.email placeholder=ph_email %}
                | {% render_field feedback.question placeholder=ph_question %}
                //| {% render_field feedback.capthca %}
                button(type="submit" id="send-feedback-button")
                    img(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/png/send-btn-kg.png' %}{% else %}{% static 'dist/img/png/send-btn.png' %}{% endif %}")