| {% load staticfiles i18n emakom %}

.news-block
    for i in news
        div(class="news-block-item {% if forloop.counter|is_big %}news-block-item-3 {% endif %}" style="{% if forloop.counter|is_big %}background-image: url('{{ i.image.url }}') {% endif %}")
            a(href="{% url 'news_detail' i.slug %}")
                if not forloop.counter|is_big
                    img(src="{{ i.image.url }}")
                .news-block-item-text
                    p  {{ i.title }}
                    //| {{ i.text|safe|truncatechars:100 }}
