| {% load staticfiles i18n %}

div(uk-slider='autoplay: true, autoplay-interval: 3000, pause-on-hover: false')
    ul.uk-slider-items
        for i in stock
            li
                a(href="{% if i.building %}{% url 'project' i.building.pk %}{% else %} # {% endif %}").promo-block.uk-flex.uk-flex-wrap
                    .promo-block-bg
                    .promo-pic(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")
                        img(src="{{ i.image.url }}")
                    .promo-block-text(class="uk-width-1-1 uk-width-expand@s")
                        h4 {{ i.title }}
                        | {{ i.text|safe }}
                        if i.end_date
                            span {{ i.end_date }}