| {% load i18n %}
for i in buildings
    li
        div
            a(href="{% url 'project' i.pk %}").works-item.uk-card
                .works-item-img
                    img(src="{{ i.image.url }}")
                .works-item-text
                    span {{ i.type }}
                    h4 {{ i.title }}
                    p {{ i.address }}
                    if i.end_date
                        i {% trans "Завершение" %}: {{ i.end_date }}
