.works-main-block
  background: wt
  position: relative
  h2
    color: dbl
    text-align: center
    font-size: f48
    margin: 40px 0
    font-weight: 700
  .works-main-block-bg
    background: url(../img/png/bg-item.png)
    background-size: 110px
    opacity 0.1
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 5

.work-obj
  display: block
  width: 100%
  z-index: 15
  position: relative
  background: url(../img/jpg/works-obj-photo.jpg) no-repeat center center
  background-size: cover
  min-height: 570px
  padding: 30px
  margin-bottom: 30px
  transition 1s
  &:hover
    text-decoration: none
    transform scale(1.015)
  .works-obj-text
    width: 33%
    height: 100%
    position: absolute
    right: 0
    top: 0
    background: rgba(0,73,168,0.75)
    font-size f14
    padding: 30px
    span
      display: block
      color: wt
      b
        font-weight: 700
        color: wt
    p
      margin: 10px 0
      color: wt
  .works-obj-title
    background: rgba(0,73,168,0.75)
    position: relative
    height: 110px
    width: 300px
    margin-left: 20px
    text-align: center
    padding: 20px
    &:before
      content ''
      display: block
      position: absolute
      top: 0
      left: -20px
      width: 0
      height: 0
      border-style: solid
      border-width: 55px 20px 55px 0
      border-color: transparent rgba(0,73,168,0.75) transparent transparent
    &:after
      content ''
      display: block
      position: absolute
      top: 0
      right: -20px
      width: 0
      height: 0
      border-style: solid
      border-width: 55px 0 55px 20px
      border-color: transparent transparent transparent rgba(0,73,168,0.75)
    span
      font-size f14
      color: wt
    h4
      font-size f24
      font-weight: 700
      color: wt
      margin: 0
      padding: 0
    p
      font-size f14
      font-weight: 700
      margin: 0
      padding: 0
      color: wt

.works-item-img
  height: 370px
  img
    width: 100%
    height: 100%
    object-fit cover
.uk-container .works-items>li
  margin-bottom: 40px