@import 'libs/uikit.css'
@import 'include/vars.styl'
@import 'include/header.styl'

.uk-lightbox
  background: #000000

*
  box-sizing border-box

body
  font-family: 'Noto Sans', sans-serif
  font-weight: 400
  font-size: f14
  color: wt
  line-height 1.3
.slider-block
  .slider-text
    width: 475px
    height: 180px
    background: rgba(0,73,168,0.75)
    position: absolute
    top: 50%
    left: 50%
    transform translate(-50%, -50%)
    box-sizing border-box
    text-align: center
    .slider-text-inner
      position: relative
      width: 100%
      height: 100%
      padding: 40px 0
      &:after
        content: ''
        display: inline-block
        width: 0
        height: 0
        border-style: solid
        border-width: 90px 0 90px 37px
        border-color: transparent transparent transparent rgba(0,73,168,0.75)
        position: absolute
        right: -37px
        top: 0
      &:before
        content: ''
        display: inline-block
        width: 0
        height: 0
        border-style: solid
        border-width: 90px 37px 90px 0
        border-color: transparent rgba(0,73,168,0.75) transparent transparent
        position: absolute
        left: -37px
        top: 0
    h1
      font-size: f96
      margin: 0
      text-transform: uppercase
      color: wt
      font-weight: 700
      line-height 1.1
    span
      font-size: f24
      text-transform: uppercase
      color: wt
      font-weight: 700
      letter-spacing 4px

.border-top
    height: 20px
    background: linear-gradient(to bottom, #ffd400 0%,#ffa800 100%)

.about-us
  position: relative
  background: dbl
  .about-us-bg
    width: 100%
    height: calc(100% - 20px)
    position: absolute
    z-index: 5
    top 20px
    left 0
    background: url(../img/png/bg-item.png)
    background-size: 50px
    opacity: 0.05
  .uk-container
    position: relative
    z-index: 15
    padding: 40px
    .about-us-title
      max-width 412px
      max-height: 80px
      object-fit contain
      display: block
      margin: 0 auto 35px
    span
      font-size: f36
      display: block
      text-align: center
      margin-bottom: 20px
      font-weight: 700
    p
      margin: 0 0 22px
    .certificate
      margin-top: 20px
      img
        box-shadow: 0px 0px 16px 0px rgba(216,171,35,1)

.works
  background: bl
  position: relative
  .works-bg
    background: url(../img/png/bg-item.png)
    background-size: 65px
    opacity 0.25
    position: absolute
    z-index: 5
    top 20px
    left 0
    width: 100%
    height: calc(100% - 20px)
  .uk-container
    z-index: 15
    padding: 40px
    position: relative
    h2
      font-size: f48
      font-weight: 700
      text-align: center
      margin: 0 0 40px
      color: wt
      a
        color: wt
      &:hover
        text-decoration: underline
.works-items
  margin-bottom: 0
.uk-container .works-items > div
  margin-bottom: 40px


.promo
  min-height 500px
  background: url(../img/jpg/slider-pic-2.jpg) no-repeat center center
  background-size: cover
  .uk-container
    text-align: center
    padding: 40px
    li
      width: 100%
    h2
      font-weight: 700
      color: wt
      font-size: f48
      background: bl2
      display: inline-block
      height: 80px
      line-height: 80px
      padding: 0 30px
      margin-bottom: 36px
      text-align: center
      position: relative
      &:after
        content: ''
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 40px 0 40px 17px
        border-color: transparent transparent transparent #0049a8
        position: absolute
        top: 0
        right: -17px
      &:before
        content: ''
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 40px 17px 40px 0
        border-color: transparent #0049a8 transparent transparent #0049a8
        position: absolute
        top: 0
        left: -17px

.news
  background: url(../img/jpg/news-photo-main.jpg) no-repeat 0 0
  background-size: cover
  .uk-container
    padding: 40px 40px 90px
    h2
      font-weight: 700
      font-size: f48
      margin: 0 auto 40px
      color: dbl
      text-align: center
      a
        color: dbl
        padding: 0 50px
        position: relative
        &:before
          content: ''
          width: 30px
          height: 63px
          display: block
          position: absolute
          top: 0
          left: 0
          background: url(../img/png/news-icon-1.png) no-repeat 0 0
        &:after
          content: ''
          width: 30px
          height: 63px
          display: block
          position: absolute
          top: 0
          right: 0
          background: url(../img/png/news-icon-2.png) no-repeat 0 0
        &:hover
          text-decoration: underline

.reviews
  padding: 30px 0
  background: gr
  color: bc
  position: relative
  .reviews-bg-bottom
    background: url(../img/png/review-item.png) repeat-x top
    z-index 10
    position: absolute
    bottom: -25px
    left: 0
    width: 100%
    height: 25px
  h2
    text-align: center
    font-weight: 700
    font-size: f48
    margin: 0
    margin-bottom: 33px
    color: bc
  .reviews-slider
    p
      font-weight: 700
      text-align: center
      margin: 0
      margin-bottom: 20px
    span
      text-align: center
      display: block
      margin-bottom: 20px
    .uk-dotnav>*>*
      border: none
      background: bl2
    .uk-dotnav>.uk-active>*
      background: yl

.uk-position-bottom-right
  bottom: 40px
.uk-lightbox
  background: rgba(0,0,0,0.75)
@import "include/news-item.styl"
@import "include/works-item.styl"
@import "include/promo.styl"
@import "include/modal.styl"
@import "works/works.styl"
@import "project/project.styl"
@import "news/news.styl"
@import "news-element/news-element.styl"
@import 'include/footer.styl'
@import 'media.styl'
