@media screen and (max-width: 1275px)
  .lang
    margin-bottom: 15px
  .header .header-bottom .uk-container .uk-navbar-nav li a
    font-size: f12!important

@media screen and (max-width: 1125px)
  .header-top-item
    transform scale(0.75)
  .social-icons .social-icon
    margin-left: 8px
  .lang
    margin-bottom: 0
  .header .header-bottom .uk-container .uk-navbar-nav li a
    padding: 0 5px

@media screen and (max-width: 960px)
  .project-layout .proj-layout-slider-text, .proj-layout-slider
    min-height: 250px
    max-height: 250px
  .lang
    margin-left: 10px
  .slider-block .slider-text
    transform: translate(-50%, -50%) scale(0.7)
  .header .header-top .uk-container
    flex-wrap wrap
  .header-top-item-address
    width: 66%
  .header-top-item
    &:first-child
      width: 100%
      text-align: center
  .about-us .uk-container .about-us-title
    max-width: 320px
  .about-us .uk-container span
    font-size: f24
  .about-us .uk-container, .works .uk-container, .promo .uk-container, .news .uk-container
    padding: 40px 25px
  .works .uk-container h2, .news .uk-container h2, .reviews h2, .contacts .uk-container h2
    font-size: f36
  .works .uk-container div .works-item .works-item-text h4
    font-size f18
  .works .uk-container div .works-item .works-item-text span, .works .uk-container div .works-item .works-item-text i, .works .uk-container div .works-item .works-item-text p
    font-size f12
  .promo .uk-container h2
    transform scale(0.8)
  .promo .uk-container .promo-block .promo-block-text h4
    font-size f14
    margin: 0px 0 8px
  .promo .uk-container .promo-block .promo-block-text p
    font-size: f12
  .news-block .news-block-item
    width: 50%
  .news-block .news-block-item-3
    width: 100%
    min-height: 300px
  .reviews h2
    margin: 0 0 8px
  .reviews .reviews-slider span
    margin-bottom: 0px
  .reviews
    padding: 15px 0 5px
  .contacts .uk-container h2
    &:before
      width: 45px
      height: 4px
      left: -60px
  .contacts .uk-container .contacts-block .contacts-item .contacts-item-text h4
    font-size: f18
  .contacts .uk-container .contacts-block .contacts-item .contacts-item-text i
    font-size: f12
  .contacts
    padding: 0
  .contacts .uk-container
    padding: 30px
  .map-cont
    margin-bottom: 15px!important
  .footer .uk-container .social-icons
    width: 40%
  .header-phone
    width: 33%
  .header .header-phone
    margin 0 auto
  // Стили для страницы Works
  .work-obj
    min-height: 400px
  .work-obj .works-obj-text
    width: 45%
  .work-obj .works-obj-title
    width: 220px
  .work-obj .works-obj-text p
    font-size f12
  // Стили для страницы Project
  .project-info .uk-container .proj-info-title
    padding: 20px
    margin-bottom: 30px

  .project-info .uk-container .proj-info-title span,
  .project-info .uk-container .proj-info-text p,
  .proj-info-infra .proj-info-infra-text p,
  .proj-info-infra .proj-info-infra-items .proj-info-infra-item h4
    font-size: f14

  .project-info .uk-container .proj-info-title h2,
  .proj-info-infra .proj-info-infra-text h2,
  .project-layout .uk-container h2,
  .project-floor h2,
  .project-photos h2,
  .project-works .uk-container h2,
  .news-page-info .uk-container .news-page-block h2,
  .works-main-block h2
    font-size: f36

  .project-layout .uk-container,
  .project-floor .uk-container,
  .project-info .uk-container,
  .project-works .uk-container,
  .news-page-info .uk-container,
  .news-element-block .uk-container
    padding: 30px
  .project-photos .uk-container
    padding  30px 30px 0
  .project-layout .uk-container h2
    padding: 0
    text-align: center
    &:before
      display: none
  .project-layout .uk-container h2,
  .project-floor h2,
  .project-photos h2,
  .project-works .uk-container h2,
  .news-page-info .uk-container .news-page-block h2,
  .news-page-info .uk-container .news-video,
  .news-element-block .uk-container h4
    margin-bottom: 30px
  .project-layout .proj-layout-slider-text span,
  .project-layout .proj-layout-slider-text b
    font-size: f18
  .project-layout .proj-layout-slider-text
    padding: 20px
  .project-layout .proj-layout-item
    margin-bottom: 30px
  .project-layout .proj-layout-link
    font-size: f18
    height: 30px
    line-height: 30px
  .project-layout .proj-layout-link-active:before,
  .project-layout .proj-layout-link:hover:before
    border-width: 15px 8px 15px 0
  .project-layout .proj-layout-link:hover:after,
  .project-layout .proj-layout-link-active:after
    border-width: 15px 0 15px 8px
  .project-layout img
    width: 120% !important
  .project-works .works-items>a
    width: 60px
    height: 60px
    background-size: 90% !important


@media screen and (max-width: 760px)
  .header-top-item .header-phone
    margin 0 auto


@media screen and (max-width: 640px)
  .project-layout .proj-layout-slider-text
    min-height: 150px
    max-height: 150px
  .project-layout .proj-layout-slider
    min-height: auto
    max-height: auto
  .footer .social-icons
    justify-content: center
  .header-top-item:nth-child(2)
    max-width: 15%
  .slider-block .slider-text
    transform: translate(-50%, -50%) scale(0.5)
  .about-us .uk-container .about-us-title
    max-width: 260px
  .about-us .uk-container p
    font-size: f12
    margin: 0 0 10px
  .about-us .uk-container span
    font-size: f18
  .about-us .uk-container, .news .uk-container, .promo .uk-container, .works .uk-container
    padding: 10px 15px 20px
  .works .uk-container
    padding: 20px 15px 0
  .about-us .uk-container .about-us-title
    margin: 0 auto 14px;
  .about-us .uk-container .certificate
    margin-top: 15px
  .works .uk-container h2
    margin-bottom: 20px
  .works .uk-container .works-items > li,
  .works .uk-container .works-items > div
    margin-bottom: 30px
  .promo .uk-container h2
    margin: 0 auto 10px
    transform scale(0.7)
    &:before
      left: -16px
    &:after
      right: -16px
  .promo-block .promo-pic
    height: 60%
  .promo .uk-container .promo-block .promo-block-text
    height: 40%
    padding: 15px
  .news-block .news-block-item
    width: 100%
    text-align: center
  .news-block .news-block-item-3
    min-height: 300px
  .contacts .uk-container h2, .news .uk-container h2, .reviews h2, .works .uk-container h2
    font-size: f24
  .about-us .uk-container .about-us-title
    max-width: 220px
  .footer
    padding: 24px 0 50px
  .footer .uk-container
    flex-wrap: wrap
  .footer .uk-container .social-icons, .footer .uk-container span
    padding: 0
    width: 100%
    text-align: center
    margin-bottom: 15px
  .contacts .uk-container .contacts-time span, .contacts .uk-container .contacts-time .free-consult
    width: 100%
    text-align: center
  .contacts-time
    flex-wrap: wrap
  .header .social-icons .social-icon
    display: none
  .contacts .uk-container .contacts-time span
    text-align: left
    margin-bottom: 20px
  .contacts
    padding: 0
  .contacts .uk-container
    padding: 20px
  // Стили для страницы Works
  .work-obj .works-obj-text
    width: 100%
    height: 47%
    right: 0
    bottom: 0
    top inherit
    padding: 15px
  .work-obj .works-obj-title
    transform scale(0.85)
  .work-obj
  .works .uk-container .works-items>div, .works .uk-container .works-items>li
    margin-left: 0
    padding: 15px
    min-height: 470px
  .works .uk-container .works-items>div, .works .uk-container .works-items>li
    margin-bottom: 0
  .work-obj .works-obj-title h4
    font-size: f18
  .work-obj .works-obj-title
    width: auto
    min-width: 220px
    max-width: 300px
  // Стили для страницы Project
  .proj-layout-slider-text
    height: 150px !important
  .project-layout .proj-layout-slider
    height: auto !important
  .project-info .uk-container .proj-info-text
    &:before
      display: none
  .project-info .uk-container .proj-info-text p
    padding: 0 15px
  .proj-info-infra .proj-info-infra-text p
    text-align: center
  .project-info .uk-container .proj-info-title h2,
  .proj-info-infra .proj-info-infra-text h2,
  .project-layout .uk-container h2,
  .project-floor h2,
  .project-photos h2,
  .project-works .uk-container h2,
  .news-page-info .uk-container .news-page-block h2,
  .works-main-block h2
    font-size: f24

  .project-layout .uk-container,
  .project-floor .uk-container,
  .project-info .uk-container,
  .project-works .uk-container,
  .news-page-info .uk-container,
  .news-element-block .uk-container
    padding: 20px

  .project-photos .uk-container
    padding  20px 20px 0
  .project-layout .proj-layout-item,
  .project-photos .proj-photo-item,
  .project-photos .proj-photo-window-item,
  .proj-info-infra .proj-info-infra-items .proj-info-infra-item,
  .news-page-info .uk-container .news-video
    margin-bottom: 20px

  .project-photos .proj-photo-item p
    font-size: f14

  .project-layout .uk-container h2,
  .project-floor h2,
  .project-photos h2,
  .news-page-info .uk-container .news-page-block h2,
  .news-element-block .uk-container h4
    margin-bottom: 20px

  .project-info .uk-container .proj-info-text,
  .proj-info-infra .proj-info-infra-text h2,
  .proj-info-infra .proj-info-infra-text p,
  .project-works .uk-container h2
    margin-bottom: 20px
  .project-layout .proj-layout-link
    font-size: f12
    white-space nowrap
  .news-element-img-video
    margin-bottom: 20px
  .news-element-block .uk-container .news-element-text .news-element-text-par p
    margin-bottom: 10px
  .news-element-block .uk-container h4
    font-size: f14

@media screen and (max-width: 430px)
  .header-top-item-address
    flex-direction: column
    align-items: center
  .header-top-item-address .header-address
    margin-right: 0 !important
  .works .uk-container .works-items > div
    width: 100%
    padding: 0
  .works .uk-container .works-items
    margin: 0
  .free-consult
    width: 60%
    margin: 0
    img
      width: 100%
  .modal-inner
    &:before
      display: none
    &:after
      display: none
  .modal-close
    top: 5px
    right: 5px
  .uk-modal-dialog
    width: auto
  .modal-inner h3
    font-size: f18
  .modal-inner span
    font-size: f12
  .modal-inner input
    font-size: f12
  .modal-inner textarea
    font-size f12
  //Стили для Promo
  .promo-block
    height: inherit
  .promo-block .promo-pic
    height: 60%
  .promo .uk-container .promo-block .promo-block-text
    height: 50%
  // Стили для страницы Works
  .work-obj
    min-height: 500px
  .work-obj .works-obj-text
    height: 57%



