.news-page-info
  background: url(../img/png/logobg.png)
  .uk-container
    padding: 40px
    .news-video
      text-align center
      margin-bottom: 40px
      video
        max-height: 500px
    .news-page-block
      h2
        text-align center
        font-weight: 700
        font-size: f48
        color: dbl
        margin-bottom: 40px
      .news-page-items
        .news-block
          margin-bottom: 40px
      .news-page-items .news-block:nth-child(even)
        flex-direction row-reverse

.news-page-links
  text-align: center
  li
    display: inline-block
    width: 20px
    height: 30px
    text-align: center
    line-height: 30px
    background: gr
    text-decoration: underline
    font-size: f14
    font-weight: 700
    color: bc
    margin-right: 6px
    &:last-child
      margin-right: 0
    &:hover
      background: bl
      color: wt
      a
        color: wt
    a
      color #000
  .active
    background: transparent
    text-decoration: none
    &:hover
      background: transparent
      color: bc
    