| {% load staticfiles i18n %}

!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title {% trans 'Emakom' %}
        meta(content="", name="description")
        meta(content="", name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no", name="format-detection")
        meta(name="HandheldFriendly", content="true")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.eot")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.svg")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.ttf")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.woff")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/img/loading.gif")
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
        link(href="{% static 'dist/img/png/bg-item.png' %}" rel="shortcut icon" type="image/png")
        link(href='{% static "dist/styles/main.min.css" %}', type='text/css', rel='stylesheet')
        link(rel='stylesheet', href='https://unpkg.com/simplebar@latest/dist/simplebar.css')
        style.
            .uk-notification-message {
                font-size: 14px !important;
            }

            .lg-backdrop {
                background-color: #fff;
            }
body#header
    .uk-offcanvas-content
        block header
            include include/header
        block content
        block footer
            include include/modal
            include include/footer
            script(src='{% static "dist/scripts/main.min.js" %}')
            script(src='https://unpkg.com/simplebar@latest/dist/simplebar.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery-all.min.js')
            script.
                $('.lightbox').lightGallery({
                    selector: '.floor-link'
                });
            | {{ static_info.jivosite_code|safe }}
            script.
                function initMap() {
                    $('.map-cont').each(function (index, obj) {
                        var lat = parseFloat($(this).attr('data-lat'));
                        var lng = parseFloat($(this).attr('data-lng'));

                        var m = new google.maps.Map(obj, {
                            center: {lat: lat, lng: lng},
                            zoom: 15
                        });

                        var marker = new google.maps.Marker({
                            position: {lat: lat, lng: lng},
                            map: m
                        });
                    });
                }
                $('#feedback_form').on('submit', function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr('action'),
                        method: $(this).attr('method'),
                        data: $(this).serialize(),
                        success: function (response) {
                            UIkit.modal($('#modal-block')).hide();
                            console.log(response.message)
                            UIkit.notification({
                                message: response.message,
                                pos: 'top-right'
                            })
                        },
                        error: function (response) {
                            // console.log(response)
                            var message = ''
                            $.each(response.responseJSON, function (i, obj) {
                                // console.log(obj)
                                message += obj[0] + '\n';
                            })
                            UIkit.notification(message, 'danger')
                        }
                    })
                })
                // function onSubmit(token) {
                //     document.getElementById("feedback_form").submit();
                // }
            //script(src="https://www.google.com/recaptcha/api.js" async defer)
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUl5OmV1PaWScEhBiad2BGOMkorZvQucE&callback=initMap")
            block script