extends base.pug
| {% load staticfiles i18n %}
block content
    .slider-block
        .uk-position-relative(uk-slideshow='min-height: 300; max-height: 600; autoplay: true; autoplay-interval: 3000; pause-on-hover: false')
            .uk-slider-container
                if slider
                    ul.uk-slideshow-items
                        for i in slider
                            li
                                img(src="{{ i.image.url }}" uk-cover)
            .slider-text
                .slider-text-inner
                    | {% get_current_language as LANGUAGE %}
                    img(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/svg/kg-logo-slider.svg' %}{% else %}{% static 'dist/img/svg/logo-slider.svg' %}{% endif %}")

    .about-us(id="about-us")
        .border-top
        .about-us-bg
        .uk-container
            img.about-us-title(src="{% if LANGUAGE == 'kg' %}{% static 'dist/img/svg/about-kg.svg' %}{% else %}{% static 'dist/img/svg/about-ru.svg' %}{% endif %}")
            span {{ about_company.title }}
            | {{ about_company.text|safe }}
            .certificates.uk-grid(class='uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-6@m')
                for i in certificates
                    .certificate(uk-lightbox='')
                        a(href="{{ i.image.url }}" class="uk-inline")
                            img(src="{{ i.image.url }}")
    if buildings
        .works(id="works")
            .border-top
            .works-bg
            .uk-container
                h2
                    a(href="{% url 'projects' %}") {% trans "Наши объекты" %}
                .works-items(class="uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m")
                    include include/works-item
    if stock
        .promo(id="promo" style="background-image: url({{ static_info.stock_background.url }})")
            .border-top
            .uk-container.uk-text-center
                h2 {% trans "Акции" %}
                include include/promo

    .news(id="news")
        .border-top
        .uk-container
            h2
                a(href="{% url 'news' %}") {% trans "Новости" %}
            include include/news
    if testimonials
        .reviews
            .reviews-bg-bottom
            .uk-container
                h2 {% trans "Отзывы" %}
                .reviews-slider
                    div(uk-slider='autoplay: true; autoplay-interval: 5000; pause-on-hover: false;')
                        div
                            ul.uk-slider-items(class='uk-child-width-1-1')
                                for i in testimonials
                                    li
                                        p {{ i.text }}
                                        span - {{ i.author }}
                        ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin