extends base.pug
| {% load staticfiles i18n bootstrap4 %}
block content
    .news-page-info
        .uk-container
            .news-video
                video(playsinline='' uk-video='autoplay: false' width="100%" height="auto" style="max-height:inherit;" controls)
                    source(src='{{ static_info.news_video.url }}', type='video/mp4')
            .news-page-block
                h2 {% trans "Новости" %}
                .news-page-items
                    include include/news
                .news-page-links
                    | {% bootstrap_pagination page_obj pages_to_show=5%}