extends base.pug
| {% load staticfiles i18n %}

block content
    .news-element-block
        .uk-container
            h4 {{ news.title }}
            .news-element-item.uk-grid(class="uk-child-width-1-1 uk-child-width-1-2@s")
                .news-element-img-video
                    if not news.video_file
                        .news-element-img
                            img(src="{{ news.image.url }}")
                    else
                        .news-element-video
                            video(controls='', playsinline='', uk-video='autoplay: false')
                                source(src='{{ news.video_file.url }}', type='video/mp4')
                .news-element-text
                    .news-element-text-par
                        | {{ news.text|safe }}
                    .news-element-text-date
                        span {{ news.created_at|date:"d.m.Y" }}