extends base.pug
| {% load staticfiles i18n emakom %}


block content
    .project-slider
        div(uk-slideshow='min-height: 300; max-height: 480; autoplay: true; autoplay-interval: 5000; pause-on-hover: false' class="uk-position-relative")
            ul.uk-slideshow-items
                for i in building.slider.all
                    li
                        img(src="{{ i.image.url }}" uk-cover)
            .uk-position-bottom-center.uk-position-small(class="uk-visible@s")
                ul.uk-thumbnav
                    for i in building.slider.all
                        li(uk-slideshow-item="{{ forloop.counter0 }}")
                            img(src="{{ i.image.url }}" width="64")

    .project-info
        .project-info-bg
        .uk-container
            .proj-info-title
                span {{ building.type }}
                h2 “{{ building.title }}”
                span {{ building.address }}
            .proj-info-text
                | {{ building.description|safe }}
            .proj-info-infra
                .proj-info-infra-text
                    h2 {% trans "Инфраструктура" %}
                    | {{ building.features_text|safe }}
                .proj-info-infra-items.uk-grid(class="uk-child-width-1-2 uk-child-width-1-4@s")
                    for i in building.no_order_features
                        .proj-info-infra-item.uk-text-center
                            img(src="{{ i.icon.url }}")
                            h4 {{ i.title }}

    if layouts
        .project-layout(id="proj-layout")
            .border-top
            .project-layout-bg
            .uk-container
                h2 {% trans "Планировки" %}
                .proj-layout-items
                    include include/layouts
                .project-layout-links(class="uk-flex uk-flex-center uk-flex-right@m uk-child-width-1-4 uk-child-width-1-5@s uk-child-width-1-6@m")
                    for i in building.get_plans
                        if forloop.counter == 1
                            a(href="{% url 'filter_room' building.pk i %}" class="room-filter-link" data-room-id="{{ i }}").proj-layout-link.proj-layout-link-active {{ i }} {% trans "комнатная" %}
                        else
                            a(href="{% url 'filter_room' building.pk i %}" class="room-filter-link" data-room-id="{{ i }}").proj-layout-link {{ i }} {% trans "комнатная" %}


    .project-floor
        .uk-container
            h2 {% trans "Планировка этажей" %}
            div(class="lightbox")
                div.floor-link(data-src="{{ building.floor_schema.url }}")
                    img(src="{{ building.floor_schema.url }}" style="width:100%;")

    .project-photos
        .uk-container
            .proj-photo-window
                if building.window_views.count
                    h2 {% trans "Вид из окна" %}
                    .proj-photo-window-items.uk-grid
                        for i in building.window_views.all
                            .proj-photo-window-item(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")(uk-lightbox)
                                a(href="{% static 'dist/img/jpg/proj-photo-win.jpg' %}")
                                    img(src="{{ i.image.url }}")
                if building.photo_report.count
                    h2 {% trans "Фотоотчет" %}
                    .proj-photo-items.uk-grid
                        for i in building.photo_report.all
                            .proj-photo-item(class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m lightbox")
                                div.uk-position-relative.floor-link(data-src="{% static 'dist/img/jpg/proj-photo-1.jpg' %}")
                                    p {{ i.title }}
                                    img(src="{{ i.image.url }}")
    if building.stock.count
        .promo.project-promo(style="background-image: url({% static 'dist/img/jpg/object-promo-bg.jpg' %})")
            .border-top
            .uk-container
                h2 {% trans "Акции" %}
                | {% get_stock building as stock %}
                include include/promo
    if buildings
        .project-works
            .border-top
            .project-works-bg
            .uk-container
                h2
                    a(href="#") {% trans "Другие объекты" %}
                .works-items(class="" uk-slider="autoplay: true; autoplay-interval: 5000; pause-on-hover: false")
                    ul(class="uk-grid uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m")
                        include include/works-item
                    a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slider-item='previous')
                    a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slider-item='next')
            .border-top
block script
    script.
        function changeActive(obj) {
            $(obj).siblings().removeClass('proj-layout-link-active');
            $(obj).toggleClass('proj-layout-link-active');
        }
        function smoothToBlock(obj) {
            var top = $(obj).offset().top
            $('body,html').animate({
                scrollTop: top
            }, 500, 'swing')
        }
        $('.room-filter-link').on('click', function (e) {
            e.preventDefault();
            var that = this;
            $.ajax({
                url: $(this).attr('href'),
                method: 'POST',
                success: function (response) {
                    $('.proj-layout-items').html(response);
                    changeActive($(that));
                    smoothToBlock($('#proj-layout'))
                }
            })
        })
