extends base.pug
| {% load staticfiles i18n emakom %}

block content
    .works-main-block
        .works-main-block-bg
        .uk-container
            h2 {% trans "Наши объекты" %}
            for i in buildings
                .works-objects
                    a(href="{% url 'project' i.pk %}" style="background-image: url('{{ i.image.url }}')").work-obj
                        .works-obj-title(uk-scrollspy="cls: uk-animation-slide-left; repeat: true; delay: 500" )
                            span {{ i.type }}
                            h4 {{ i.title }}
                            p {{ i.address }}
                        .works-obj-text(uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 1000" )
                            if i.end_date
                                span <b>{% trans "Сдача" %}:</b>	{{ i.end_date }}
                            span <b>{% trans "Этажи" %}:</b> {{ i.floor }}
                            if request|is_mobile
                                p {{ i.description|safe|truncatechars:200 }}
                            else
                                p {{ i.description|safe|truncatechars:1000 }}
