{% extends 'admin/base.html' %}
{% load static %}
{% block title %}Rosetta{% endblock %}
{% block breadcumbs %}{% endblock %}
{% block extrahead %}
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3");
        {% if rosetta_settings.ENABLE_TRANSLATION_SUGGESTIONS %}google.load("language", "1");{% endif %}
        {% include 'rosetta/js/rosetta.js' %}
    </script>
{% endblock %}
{% block content %}
    <div id="content" class="flex">
        {% block main %}{% endblock %}
    </div>
    <div id="footer" class="breadcumbs">
        <a href="https://github.com/mbi/django-rosetta">Rosetta</a> <span class="version">{{ version }}</span>
    </div>
{% endblock %}
